
body{
 margin: 0px;
 padding: 0px;
}
.header{
  display: flex;
  flex-direction: row;
  margin: 5px 10px
}
.header h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 80px;
}
.header_img img{
  height: 100px;
  width: 200px;
 clip-path:circle();
}
.description {
  font-size: 22px;
  text-align: center;
}
.container{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
 align-content: center;
}
input[type=text]{
    width: 400px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
input[type="submit"] {
    width: 100px;
    height: 25px;
    margin: 18px;
    border: none;
    border-radius: 5px;
    color: rgb(75, 75, 75);
    text-align: center;
    cursor: pointer;
  }
  form {
    display: inline-flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    background-color: yellowgreen;
    border: 1px solid #ffd580;
    border-radius: 10px;
  }
.search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    padding: 5px;
  }
  .item{
    font-size: 18px;
  }
  .item a{
    text-decoration: none;
    color: red;
    font-weight: bold;
  }
