@import url("bootstrap.css");
body{
    background-color: hsla(223, 48%, 50%, 0.94);
}
.container{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
}
input[type=text]{
    width: 400px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
input[type="submit"] {
    width: 100px;
    height: 25px;
    margin: 18px;
    border: none;
    border-radius: 5px;
    color: rgb(75, 75, 75);
    text-align: center;
    cursor: pointer;
  }
  form {
    display: inline-flex;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    background-color: yellowgreen;
    border: 1px solid #ffd580;
    border-radius: 10px;
  }
.search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  }
  .item{
    font-size: 18px;
  }
  .item a{
    text-decoration: none;
  }